<!DOCTYPE html>
<html>
<head>
  <title><%= t('AppName') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
</head>
<body>


<div id="app" class="app">

  <div id="app-header" class="app-header">
    <a href="/">
      <%= image_tag "app-header.png", :alt=>"Header Image", :class=>'header-image' %>
    </a>
  </div>


  <div id="app-navigation" class="app-navigation">
   <%= render :partial=>'layouts/global_navigation' %>
  </div>


  <div id="app-main" class="app-main">
    <%= yield %>
  </div>

</div>

<%= render :partial=>'layouts/global_footer' %>

</body>
</html>
