<h1>Account Password</h1>

<%= render :partial=>'common_top' %>


<% if ! session[:user] %>

  User is not logged in.

  <p>This should not happen!</p>

<% else %>

  <%= form_for @account_secret, :url=>{ :action=>'password' } do |f| %>

    <div class="signup_field">
      <label for="user_name">Account ID:</label>
      <%= @account_secret.account_id %>
    </div>
    <br/>

    <div class="signup_field">
      <label for="user_name">User Name:</label>
      <%= @account_secret.account_name %>
    </div>
    <br/>

    <h2>For account verification:</h2>

    <div class="signup_field">
      <label for="user_password">Please enter your old password:</label>
      <%= f.password_field :password_old %>
    </div>
    <br/>

    <h2>Please enter your new password twice:</h2>

    <div class="signup_field">
      <label for="user_password">New Password:</label>
      <%= f.password_field :password %>
    </div>
    <br/>

    <div class="signup_field">
      <label for="user_password_confirmation">New Password Again:</label>
      <%= f.password_field :password_confirmation %>
    </div>
    <br/>

    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>

<% end %>


