<h1>Account Signup</h1>

<%= render :partial=>'common_top' %>

<div id="signup_content">

<span class="title">Sign-up for a Mail System Account</span>

<%= form_for @account, :url=>{ :action=>'signup' } do |f| %>

  <%= flash[:error] %>
  <br/>
  
  <div class="signup_field">
    <label for="user_name">User Name:</label>
    <%= f.text_field :name %>
    <br/>
  </div>

  <div class="signup_field">
    <label for="user_fullname">Full Name:</label>
    <%= f.text_field :fullname %>
    <br/>
  </div>

  <div class="signup_field">
    <label for="user_email">E-Mail:</label>
    <%= f.text_field :email %>
    <br/>
  </div>

  <div class="signup_field">
    <label for="user_password">Password:</label>
    <%= f.password_field :password %>
    <br/>
  </div>

  <div class="signup_field">
    <label for="user_password_confirmation">Password Again:</label>
    <%= f.password_field :password_confirmation %>
    <br/>
  </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>




<div>
